html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/**
 * Here are all the universal stylings to the app
 * 1. Set backgound image to our assets
 */
body {
  background-image: url('./assets/background/background.jpg');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
